/* NAVBAR */
.nav-item{
  padding: 0rem 1rem;
}

/* INTRO */
.page1content{
  padding-top: 3rem;
}
.intro{
  color: white;
  text-align: center;
  padding: 10rem 2rem 0rem;
}

.img-div{
  text-align: center;
  padding: 6rem 0rem;

}
.profile-img{
 width: 45%;
}

#icon{
  width: 10%;
}
/* BACKGROUND VIDEO */
#background-video{
  position: fixed;
  z-index: -1;
}
@media(min-aspect-ratio: 16/9) {
  #background-video{
    width: 100%;
    height: auto;
  }
}
@media(max-aspect-ratio: 16/9) {
  #background-video{
    width: auto;
    height: 100%;
  }
}
@@media (max-width: 767px) {
  #background-video{
    display: none;
  }
  body{
    background: url('poster.jpg');
    background-size: cover;
  }
}
