.main{
  position: relative;
}



/* NAVBAR */
.dropDown-font{
  font-size: 1.3rem;
}
.dancing-font{
  font-family: 'Dancing Script', cursive;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.6rem;
}
/* INTRO */
.adjust-width{
  margin: 0 60px 0 60px;
}
h1{
  padding: 1rem;
  font-family: 'Great Vibes', cursive;
}
p{
  font-family: 'El Messiri', sans-serif;
}
/* .page1content{
  padding-top: 3rem;
} */
.intro{
  color: white;
  text-align: center;
  padding-top: 12rem;
  /* padding: 9rem 2rem 0rem; */
}

.img-div{
  text-align: center;
  padding: 9% 0rem;
}

/* .carousel-item{
  width: 40%;
} */
.profile-img{
 width: 20rem;
 /* width: 45%; */
}

#icon{
  width: 10%;
}
/*hover anchor tag*/
/* Neon Button */
a{
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

a:hover{
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 1s;
}

a span
{
  position: absolute;
  display: block;
}
a span:nth-child(1)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#2196f3);
}
a:hover span:nth-child(1){
  left: 100%;
  transition: 1s;
}

a span:nth-child(3)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#2196f3);
}
a:hover span:nth-child(3){
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

a span:nth-child(2)
{
  top: -100;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3);
}
a:hover span:nth-child(2){
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

a span:nth-child(4)
{
  bottom: -100;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#2196f3);
}
a:hover span:nth-child(4){
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


/* BACKGROUND VIDEO */
#background-video{
  position: fixed;
  z-index: -1;
}
/* @media(min-aspect-ratio: 16/9) {
  #background-video{
    width: 100%;
    height: auto;
  }
}
@media(max-aspect-ratio: 16/9) {
  #background-video{
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #background-video{
    display: none;
  }
  body{
    background: url('poster.jpg');
    background-size: cover;
  }
}
 */
